app/__pycache__
app/__pycache__/*
db/*
*.py[co]
*.sqlite
migrations/__pycache__
migrations/__pycache__/*
config/database.yml
.idea/*
tmp/*
*.db
venv
.DS_Store
venv/*
db.sqlite3
!media/.gitkepp
media/*
fabfile.py
pm2_start.json
reflecting.tar.gz
