{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#">
<head>

  <title>{% block title %}Python Learning{% endblock %}</title>
  <link rel="canonical" href="{% block canonical_url %}https://python.web.id{% endblock %}">


  <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/css/blog.css" %}" rel="stylesheet">
  <link href="{% static "assets/css/style.css" %}" rel="stylesheet">

  <script src="{% static "assets/js/jquery.min.js" %}"></script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  {% include "includes/menu.html" %}

  <div class="container main__container">
    <div class="row">
      <div class="col-sm-8 blog-main">
        {% block content %}{% endblock %}
      </div><!-- /.blog-main -->

      <div class="col-sm-3 col-sm-offset-1 blog-sidebar" id="non-printable">
        {% include "includes/sidebar.html" %}
      </div><!-- /.blog-sidebar -->
    </div><!-- /.row -->
  </div><!-- /.main__container -->

  <div class="blog-footer" id="non-printable">
    <p>
      Copyright &#169; 2014-{% now "Y" %}, <a href="{% url "homepage" %}">Python Learning</a> -
      Powered <a href="https://www.djangoproject.com/" target="_blank">Django</a> -
      Created by <a href="https://python.web.id/agusmakmun/" target="_blank">Summon Agus</a></p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </div>

  <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
</body>
</html>
