{% extends "base.html" %}
{% import "bootstrap/wtf.html" %}
{% block title %}Flasky{% endblock %}
{% block page_content %}
<h1>Hello World!</h1>
<form method='POST'>
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name() }}
    {{ form.submit() }}
</form>
<p> The local date and the time is {{ moment(current_time).format('LLL') }}.</p>
<p> That was {{ moment(current_time).fromNow(refresh=True) }}</p>
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}
